aside {
    background-color: rgba(122, 6, 59, 0.85);
    color: white;
}

aside ul li {
    cursor: pointer;
    transition: background-color 300ms;
}

aside ul a:hover {
    background-color: #F46EA9;
}

aside img {
    width: 50px;
}

.info {
    border-bottom: 1px solid #F46EA9;
}

.disableOption {
    background-color: #F46EA9;
}

.dashboard-content {
    background-color: #F6EEE8;
    min-height: 100vh;
    padding-top: 50px;
}

/* Análise */

.analise-ciclos {
    display: flex;
    justify-content: center;
}

.analise-ciclos-grid {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: 150px;
    column-gap: 40px;
}

.card-ciclo {
    background-color: rgba(122, 6, 59, 1);
    font-size: 1.2em;
    color: white;
    text-align: center;
    border-radius: 0;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    
    overflow: hidden;
    background-size: cover;

    transition: 500ms background-color, 200ms border;
}

.card-ciclo h2 {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    padding: .2em 0;
}

.card-ciclo:hover {
    background-color: #f73489;
}

.ciclo-selecionado {
    border: 4px solid #c40055;
    background-color: #f73489;
}