/* Menu mobile */

.mobile-outside {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    z-index: 70;
}

.mobile-menu-bar {    
    display: none;
    background-color: rgba(122, 6, 59, 0.85);
    height: 80px;
    width: 100%;
    z-index: 80;
    align-items: center;
    justify-content: space-around;
    position: fixed;
}

.mobile-menu-content {
    position: fixed;
    width: 100%;
    top: 80px;
    left: 0;
    z-index: 80;
    background-color: rgba(0, 0, 0, 0.7);
    transition: height 500ms;
    height: 230px;
}

.mobile-menu-content .menu-content {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.mobile-menu-content .menu-content > * {
    width: 100%;
}

aside {
    background-color: #7a063bd9;
    color: white;
}

.menu-content ul li {
    cursor: pointer;
    transition: background-color 300ms;
}

.menu-content ul a:hover {
    background-color: #F46EA9;
}

aside img {
    width: 50px;
}

.info {
    border-bottom: 1px solid #F46EA9;
}

.selectedOption {
    background-color: #F46EA9;
}

hr {
    width: 100%;
    border-top: 1px solid #CECECE;
}

.dashboard-content {
    background-color: #F6EEE8;
    min-height: 100vh;
}

@media (min-width: 720px) {
    .mobile-menu-content { display: none !important; }
}

@media (max-width: 719px) {
    .mobile-menu-bar { display: flex; }
    .dashboard-content {
        padding-top: 100px;
    }
}