@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.about-us-img-all {
    width: 90%;
    height: 300px;
    margin: 20px auto;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}

.about-us-desc {
    font-family: 'Poppins', sans-serif; 
    letter-spacing: -0.01em;
}

.about-us-profile {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    
    cursor: grab;

    background-image: linear-gradient(to bottom, rgba(122, 6, 59, 0.85), #F46EA9);
}

.about-us-profile:active {
    cursor: grabbing;
}
