.fungis-page ul li {
    width: 100vw;
    height: 100vh;
}

.fungis-images {
    border: 0.4rem solid rgba(245, 106, 166, 0.95);
    background-color: rgba(245, 106, 166, 0.95);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0.4rem;
    width: 500px;
    height: 400px;
}

.fungis-images > div {
    background-size: cover;
    background-position: center;
}
